PORT=8787
APP_BASE_URL=http://127.0.0.1:5173
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8787/auth/spotify/callback
SESSION_SECRET=replace_me
BRAVE_SEARCH_API_KEY=BSAv7XX0yH_IbQw1gcEitqCYzeZg5Z5
BRAVE_SEARCH_ENDPOINT=https://api.search.brave.com/res/v1/web/search
